html, body {
  max-width: 100%;
  overflow-x: hidden;
}

/* Cabecalho */

.item_menu
{
  color: red;
  border: 100px;
}
.logo
{
  text-align: center;
}
.ml-auto a
{
  margin-right: 35px;
  margin-left: 35px;
 
}

.ml-auto li:hover
{
  background-color: rgb(89,98,105);
  
}
#botao
{
  margin-bottom: 100px;

}
/* Fim Cabecalho */

/* Conteúdo */

.conteudo
{
  min-width: 100%;
  padding: 0;
 
}
.featurette p,h2,h5
{
  margin: 20px;
}
.featurette img
{
  border: none;
  padding: 0;
  margin: 0;
}
.botao_veja_mais
{
  text-align: center;
}
.conteudo button
{
  margin: 5px;
}



/* Fim Conteúdo */


/* Rodapé */
footer
{
  background-color: #3b3b3b;
  min-width: 100%;

}
footer h5
{
  margin-top: 10px;
}
/* Fim Rodapé */