h1 {
    text-align: center;
    color: darkcyan;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
}

p {
    text-align: center;
    color: black;
    margin-bottom: 50px;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
form {
	max-width: 700px;
	margin: 0 auto 0 auto;
	display: flex;
	flex-direction: column;
}

input, label, select {
	font-size: 1.125em;
	font-family: monospace;
	background: white;
	border-radius: 0px;
}

label {
	font-weight: bold;
	color: darkcyan;
	margin: 20px 0 5px 0;
}